@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Zain:wght@200;300;400;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  background-color: #323050;
  color: #070707;
}
footer h6 {
  text-align: left;
  margin-top: 150px;
}
footer p {
  margin-left: 750px;
  margin-top: 120px;
  font-family: "Zain", sans-serif;
  font-size: large;
  font-weight: 500;
  font-style: normal;
}
footer div {
  height: 50%;
  display: flex;
  margin-top: 100px;
  margin-left: 25px;
}
footer div a {
  display: flex;
  gap: 1.25rem;
  width: 45px;
  height: 45px;
  margin-right: 1rem;
  margin-top: 0.625rem;
}

header {
  background-color: #2A274B;
  color: white;
  margin: 0;
}
header div {
  size: 5.75rem 100%;
  display: flex;
  justify-content: space-between;
}
header div h2 {
  font-family: "Zain", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.625rem;
}
header div img {
  display: flex;
  width: 59px;
  height: 59px;
  margin-right: 1rem;
  margin-top: 0.625rem;
}
header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  size: 6.25rem 6.25rem;
}
header nav ul li {
  margin: 1.875rem;
  padding: 10px 25px;
  border-radius: 0.3125rem;
  border-color: rgba(114, 113, 113, 0.2274509804);
  border-style: ridge;
  border-radius: 1.5625rem;
  background-color: #323050;
}
header nav ul li a {
  font-family: "Zain", sans-serif;
  font-weight: 700;
  font-style: oblique;
  font-size: 20px;
  color: white;
  text-decoration: none;
}
header nav ul li a:hover {
  color: #ebbf6e;
}

main {
  background-color: #323050;
  background-size: cover;
  color: white;
  margin: 0;
  width: 100%;
}
main .seccionTituloBienvenida {
  width: 100%;
  height: 600px;
  text-align: center;
  background-image: url("../assets/img/Fabulas-de-tinta-vectorizado.png");
  background-position: top;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  padding-bottom: 0px;
}
main .seccionTituloBienvenida h1 {
  size: initial;
  text-align: center;
  color: #D4D4D4;
  padding-top: 1.875rem;
  font-size: 70px;
  font-family: "Zain", sans-serif;
  font-weight: 700;
  font-style: normal;
}
main .seccionNotaParche {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 23rem;
  width: 75%;
  margin-left: 250px;
  background-color: #403E5E;
  background-size: 50% 300px;
  padding-top: 0.3125rem;
  border-color: rgba(114, 113, 113, 0.2274509804);
  border-style: ridge;
  border-radius: 1.5625rem;
  border-width: 10%;
}
main .seccionNotaParche div h2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Zain", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  width: 100%;
  margin-bottom: 40px;
  background-color: #2A274B;
  background-size: auto;
  border-color: #2A274B;
  border-radius: 1.5625rem;
}
main .seccionNotaParche div a {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-family: "Zain", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
  width: 100%;
}
main .seccionNotaParche p {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Zain", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
  width: 100%;
  padding-top: 2.1875rem;
}
main .seccionNotaParche ul li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Zain", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
  text-align: center;
  width: 100%;
}

.imagen-s {
  height: 100px;
  width: 100px;
  padding-top: 20px;
}

.titanessegadores, .tinta-sombria, .dumplings-mortales, .roll-eruditos, .maton-tirotruco {
  font-family: "Zain", sans-serif;
  font-weight: 10;
  font-size: 30px;
  text-align: center;
  font-style: normal;
  display: flex;
  padding-top: 100px;
  flex-direction: row;
  padding-left: 80px;
  gap: 50px;
}
.titanessegadores div h4, .tinta-sombria div h4, .dumplings-mortales div h4, .roll-eruditos div h4, .maton-tirotruco div h4 {
  padding-top: 3.125rem;
}
.titanessegadores div h3, .tinta-sombria div h3, .dumplings-mortales div h3, .roll-eruditos div h3, .maton-tirotruco div h3 {
  padding-top: 2.8125rem;
}
.titanessegadores div ul, .tinta-sombria div ul, .dumplings-mortales div ul, .roll-eruditos div ul, .maton-tirotruco div ul {
  list-style: none;
  display: flex;
  height: 150px;
  flex-direction: row;
  gap: 40px;
  border-color: #2A274B;
  border-style: solid;
  border-radius: 100rem;
  background-color: #2A274B;
  border-width: 10px;
}
.titanessegadores div ul li img, .tinta-sombria div ul li img, .dumplings-mortales div ul li img, .roll-eruditos div ul li img, .maton-tirotruco div ul li img {
  height: 100px;
  width: 100px;
  border-radius: 100rem;
}

.tinta-sombria div ul, .dumplings-mortales div ul, .roll-eruditos div ul {
  height: 8.75rem;
}

.tabla ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 16.875rem;
  padding-left: 500px;
  padding-top: 3.125rem;
  padding-bottom: 0rem;
}
.tabla ul li div h3 {
  font-family: "Zain", sans-serif;
  font-weight: 20px;
  font-size: 30px;
}

.aatrox ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 11.25rem;
  padding-left: 12.5rem;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}
.aatrox ul li div p {
  font-family: "Zain", sans-serif;
  font-weight: 5px;
  font-size: 30px;
  padding-top: 1.875rem;
}
.aatrox ul .rasgosecunAtrox {
  padding-left: 50px;
}
.aatrox ul .posiAtrox {
  padding-left: 200px;
}

.ahri ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 12.5rem;
  padding-left: 12.5rem;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}
.ahri ul li div p {
  font-family: "Zain", sans-serif;
  font-weight: 5px;
  font-size: 30px;
  padding-top: 1.875rem;
}
.ahri ul .sinergiaAhri {
  padding-left: 50px;
}
.ahri ul .rasgosecunAhri {
  padding-left: 100px;
}
.ahri ul .posiAhri {
  padding-left: 180px;
}

.alune ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 11.875rem;
  padding-left: 12.5rem;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}
.alune ul li div p {
  font-family: "Zain", sans-serif;
  font-weight: 5px;
  font-size: 30px;
  padding-top: 1.875rem;
}
.alune ul .sinergiaAlune {
  padding-left: 80px;
}
.alune ul .rasgosecunAlune {
  padding-left: 140px;
}
.alune ul .posiAlune {
  padding-left: 180px;
}

.amumu ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 11.875rem;
  padding-left: 12.5rem;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}
.amumu ul li div p {
  font-family: "Zain", sans-serif;
  font-weight: 5px;
  font-size: 30px;
  padding-top: 1.875rem;
}
.amumu ul .sinergiaAmumu {
  padding-left: 50px;
}
.amumu ul .rasgosecunAmumu {
  padding-left: 135px;
}
.amumu ul .posiAmumu {
  padding-left: 190px;
}

.tabla-objetos ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 21.875rem;
  padding-left: 25rem;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}
.tabla-objetos ul li div h3 {
  font-family: "Zain", sans-serif;
  font-weight: 20px;
  font-size: 30px;
}
.tabla-objetos ul .tabla-objetos-armado {
  padding-left: 100px;
}

.armadura-petrea ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 6.25rem;
  padding-left: 9.375rem;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}
.armadura-petrea ul li {
  text-align: center;
}
.armadura-petrea ul li p {
  padding-top: 20px;
  font-family: "Zain", sans-serif;
  font-size: 25px;
}
.armadura-petrea ul .campeon-armadura {
  padding-left: 100px;
}

.baculo-del-arcangel ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 6.25rem;
  padding-left: 9.375rem;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}
.baculo-del-arcangel ul li {
  text-align: center;
}
.baculo-del-arcangel ul li p {
  padding-top: 20px;
  font-family: "Zain", sans-serif;
  font-size: 25px;
}
.baculo-del-arcangel ul .desc-baculo {
  padding-left: 120px;
}
.baculo-del-arcangel ul .armado-baculo {
  padding-left: 75px;
}
.baculo-del-arcangel ul .campeon-baculo {
  padding-left: 100px;
}

.capa-fuego-solar ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 6.25rem;
  padding-left: 9.375rem;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}
.capa-fuego-solar ul li {
  text-align: center;
}
.capa-fuego-solar ul li p {
  padding-top: 20px;
  font-family: "Zain", sans-serif;
  font-size: 25px;
}
.capa-fuego-solar ul .armado-capa {
  padding-left: 60px;
}
.capa-fuego-solar ul .campeon-capa {
  padding-left: 130px;
}

.chispa-ionica ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 6.25rem;
  padding-left: 9.375rem;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}
.chispa-ionica ul li {
  text-align: center;
}
.chispa-ionica ul li p {
  padding-top: 20px;
  font-family: "Zain", sans-serif;
  font-size: 25px;
}
.chispa-ionica ul .nombre-chispa {
  padding-left: 25px;
}
.chispa-ionica ul .desc-chispa {
  padding-left: 35px;
}
.chispa-ionica ul .campeon-chispa {
  padding-left: 50px;
}

.nota-de-parche {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 60%;
  margin-left: 400px;
  background-color: #403E5E;
  background-size: 50% 300px;
  padding-top: 50px;
  border-color: rgba(114, 113, 113, 0.2274509804);
  border-style: ridge;
  border-radius: 1.5625rem;
  border-width: 10%;
  padding-right: 10px;
}
.nota-de-parche div h3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Zain", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  width: 100%;
  margin-bottom: 40px;
  background-color: #2A274B;
  background-size: auto;
  border-color: #2A274B;
  border-radius: 1.5625rem;
}
.nota-de-parche div p {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Zain", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  width: 100%;
  text-align: center;
}
.nota-de-parche div dl {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Zain", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.botonInicio {
  border-color: #ebbf6e;
  border-style: ridge;
}

.botonCompos {
  border-color: #ebbf6e;
  border-style: ridge;
}

.botonCampeones {
  border-color: #ebbf6e;
  border-style: ridge;
}

.botonObjetos {
  border-color: #ebbf6e;
  border-style: ridge;
}

.botonNotas {
  border-color: #ebbf6e;
  border-style: ridge;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.8s linear both;
  animation: scale-up-center 0.8s linear both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@media (max-width: 1440px) {
  main .seccionNotaParche {
    margin-left: 170px;
  }
  .imagen-s {
    height: 80px;
    width: 80px;
  }
  .titanessegadores, .maton-tirotruco, .tinta-sombria, .roll-eruditos, .dumplings-mortales {
    font-size: 25px;
    gap: 25px;
  }
  .titanessegadores div h4, .maton-tirotruco div h4, .tinta-sombria div h4, .roll-eruditos div h4, .dumplings-mortales div h4 {
    padding-top: 35px;
  }
  .titanessegadores div h3, .maton-tirotruco div h3, .tinta-sombria div h3, .roll-eruditos div h3, .dumplings-mortales div h3 {
    padding-top: 30px;
  }
  .titanessegadores div ul, .maton-tirotruco div ul, .tinta-sombria div ul, .roll-eruditos div ul, .dumplings-mortales div ul {
    gap: 30px;
    height: 100px;
  }
  .titanessegadores div ul li img, .maton-tirotruco div ul li img, .tinta-sombria div ul li img, .roll-eruditos div ul li img, .dumplings-mortales div ul li img {
    height: 80px;
    width: 80px;
    align-items: center;
    justify-content: center;
  }
  .maton-tirotruco {
    font-size: 25px;
    gap: 25px;
  }
  .maton-tirotruco div h4 {
    padding-top: 2.1875rem;
  }
  .maton-tirotruco div h3 {
    padding-top: 30px;
  }
  .maton-tirotruco div ul {
    gap: 30px;
    height: 100px;
  }
  .maton-tirotruco div ul li img {
    height: 75px;
    width: 75px;
    align-items: center;
    justify-content: center;
  }
  .tinta-sombria, .roll-eruditos, .dumplings-mortales {
    font-size: 25px;
    gap: 25px;
  }
  .tinta-sombria div h4, .roll-eruditos div h4, .dumplings-mortales div h4 {
    padding-top: 35px;
  }
  .tinta-sombria div h3, .roll-eruditos div h3, .dumplings-mortales div h3 {
    padding-top: 30px;
  }
  .tinta-sombria div ul, .roll-eruditos div ul, .dumplings-mortales div ul {
    gap: 30px;
    height: 100px;
  }
  .tinta-sombria div ul li img, .roll-eruditos div ul li img, .dumplings-mortales div ul li img {
    height: 75px;
    width: 75px;
    align-items: center;
    justify-content: center;
  }
  .roll-eruditos {
    font-size: 25px;
    gap: 25px;
  }
  .roll-eruditos div h4 {
    padding-top: 35px;
  }
  .roll-eruditos div h3 {
    padding-top: 30px;
  }
  .roll-eruditos div ul {
    gap: 30px;
    height: 100px;
  }
  .roll-eruditos div ul li img {
    height: 75px;
    width: 75px;
    align-items: center;
    justify-content: center;
  }
  .dumplings-mortales {
    font-size: 25px;
    gap: 25px;
  }
  .dumplings-mortales div h4 {
    padding-top: 35px;
  }
  .dumplings-mortales div h3 {
    padding-top: 30px;
  }
  .dumplings-mortales div ul {
    gap: 30px;
    height: 100px;
  }
  .dumplings-mortales div ul li img {
    height: 75px;
    width: 75px;
    align-items: center;
    justify-content: center;
  }
  .tabla ul {
    gap: 150px;
    padding-left: 350px;
  }
  .aatrox ul {
    gap: 100px;
    padding-left: 150px;
  }
  .aatrox ul li div p {
    font-size: 25px;
  }
  .aatrox ul li .imgAtrox img {
    width: 100px;
    height: 100px;
  }
  .aatrox ul .posiAtrox {
    padding-left: 160px;
  }
  .ahri ul {
    gap: 110px;
    padding-left: 150px;
  }
  .ahri ul li div p {
    font-size: 25px;
  }
  .ahri ul .posiAhri {
    padding-left: 155px;
  }
  .ahri ul .imgAhri img {
    width: 100px;
    height: 100px;
  }
  .alune ul {
    gap: 100px;
    padding-left: 150px;
  }
  .alune ul li div p {
    font-size: 25px;
  }
  .alune ul li .rasgosecunAlune {
    padding-left: 130px;
  }
  .alune ul li .posiAlune {
    padding-left: 160px;
  }
  .alune ul li .imgAlune img {
    width: 100px;
    height: 100px;
  }
  .amumu ul {
    gap: 100px;
    padding-left: 150px;
  }
  .amumu ul li div p {
    font-size: 25px;
  }
  .amumu ul li .imgAmumu img {
    width: 100px;
    height: 100px;
  }
  .amumu ul li .posiAmumu {
    padding-left: 160px;
  }
  .tabla-objetos ul {
    gap: 180px;
    padding-left: 250px;
  }
  .tabla-objetos ul .tabla-descripcion {
    padding-left: 70px;
  }
  .armadura-petrea ul {
    padding-left: 80px;
    gap: 30px;
  }
  .armadura-petrea ul li p {
    text-align: center;
  }
  .armadura-petrea ul .campeon-armadura {
    padding-left: 0px;
  }
  .baculo-del-arcangel ul {
    padding-left: 80px;
    gap: 30px;
  }
  .baculo-del-arcangel ul .desc-baculo {
    padding-left: 50px;
  }
  .baculo-del-arcangel ul .armado-baculo {
    padding-left: 10px;
  }
  .baculo-del-arcangel ul .campeon-baculo {
    padding-left: 0px;
  }
  .baculo-del-arcangel ul li p {
    text-align: center;
  }
  .capa-fuego-solar ul {
    padding-left: 80px;
    gap: 30px;
  }
  .capa-fuego-solar ul .desc-capa {
    padding-left: 10px;
  }
  .capa-fuego-solar ul .armado-capa {
    padding-left: 10px;
  }
  .capa-fuego-solar ul .campeon-capa {
    padding-left: 0px;
  }
  .capa-fuego-solar ul li p {
    text-align: center;
  }
  .chispa-ionica ul {
    padding-left: 80px;
    gap: 30px;
  }
  .chispa-ionica ul .campeon-chispa {
    padding-left: 0px;
  }
  .chispa-ionica ul .nota-de-parche {
    margin-left: 325px;
  }
  .chispa-ionica ul li p {
    text-align: center;
  }
}
@media (max-width: 1346px) {
  .tabla-objetos ul {
    gap: 100px;
    padding-left: 170px;
  }
  .tabla-objetos ul .tabla-descripcion {
    padding-left: 150px;
  }
  .tabla-objetos ul .tabla-objetos-armado {
    padding-left: 200px;
  }
  .tabla-objetos ul li div h3 {
    font-size: 25px;
  }
  .armadura-petrea ul {
    padding-left: 50px;
    gap: 25px;
  }
  .armadura-petrea ul li p {
    font-size: 20px;
    padding-top: 10px;
  }
  .armadura-petrea ul li img {
    width: 80px;
    height: 80px;
  }
  .baculo-del-arcangel ul {
    padding-left: 50px;
    gap: 25px;
  }
  .baculo-del-arcangel ul .desc-baculo {
    padding-left: 100px;
  }
  .baculo-del-arcangel ul .armado-baculo {
    padding-left: 50px;
  }
  .baculo-del-arcangel ul li p {
    font-size: 20px;
    padding-top: 10px;
  }
  .baculo-del-arcangel ul li img {
    width: 80px;
    height: 80px;
  }
  .capa-fuego-solar ul {
    padding-left: 50px;
    gap: 25px;
  }
  .capa-fuego-solar ul .desc-capa {
    padding-left: 20px;
  }
  .capa-fuego-solar ul .armado-capa {
    padding-left: 30px;
  }
  .capa-fuego-solar ul li p {
    font-size: 20px;
    padding-top: 10px;
  }
  .capa-fuego-solar ul li img {
    width: 80px;
    height: 80px;
  }
  .chispa-ionica ul {
    padding-left: 50px;
    gap: 25px;
  }
  .chispa-ionica ul li p {
    font-size: 20px;
    padding-top: 10px;
  }
  .chispa-ionica ul li img {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 1302px) {
  .maton-tirotruco div ul li img {
    height: 70px;
    width: 70px;
  }
}
@media (max-width: 1297px) {
  .tabla ul {
    gap: 105px;
    padding-left: 225px;
  }
  .tabla ul li div h3 {
    font-size: 25px;
  }
  .aatrox ul {
    gap: 70px;
    padding-left: 80px;
  }
  .aatrox ul li div p {
    font-size: 22px;
  }
  .aatrox ul li .imgAtrox img {
    height: 5rem;
    width: 5rem;
  }
  .aatrox ul .posiAtrox {
    padding-left: 120px;
  }
  .aatrox ul .rasgosecunAtrox {
    padding-left: 20px;
  }
  .ahri ul {
    gap: 75px;
    padding-left: 80px;
  }
  .ahri ul li div p {
    font-size: 22px;
  }
  .ahri ul .imgAhri img {
    height: 5rem;
    width: 5rem;
  }
  .ahri ul .rasgosecunAhri {
    padding-left: 70px;
  }
  .ahri ul .posiAhri {
    padding-left: 120px;
  }
  .alune ul {
    gap: 70px;
    padding-left: 80px;
  }
  .alune ul li div p {
    font-size: 22px;
  }
  .alune ul li .imgAlune img {
    height: 5rem;
    width: 5rem;
  }
  .alune ul li .rasgosecunAlune {
    padding-left: 85px;
  }
  .alune ul li .posiAlune {
    padding-left: 115px;
  }
  .amumu ul {
    gap: 70px;
    padding-left: 80px;
  }
  .amumu ul li div p {
    font-size: 22px;
  }
  .amumu ul li .imgAmumu img {
    height: 5rem;
    width: 5rem;
  }
  .amumu ul li .rasgosecunAmumu {
    padding-left: 95px;
  }
  .amumu ul li .posiAmumu {
    padding-left: 110px;
  }
}
@media (max-width: 1272px) {
  footer h6 {
    display: flex;
    margin-top: 150px;
    margin-left: 50px;
  }
  footer p {
    margin-left: 500px;
    margin-top: 125px;
    font-family: "Zain", sans-serif;
    font-size: large;
    font-weight: 500;
    font-style: normal;
  }
  .seccionNotaParche {
    height: 31.25rem;
  }
  .seccionNotaParche div {
    height: 15%;
  }
  .seccionNotaParche div h2 {
    font-size: 40px;
    margin-bottom: 0px;
  }
  .seccionNotaParche p {
    padding: 0px;
    justify-content: center;
    text-align: center;
  }
  .nota-de-parche {
    margin-left: 18.75rem;
    height: 800px;
  }
}
@media (max-width: 1257px) {
  .titanessegadores, .maton-tirotruco, .tinta-sombria, .roll-eruditos, .dumplings-mortales {
    font-size: 20px;
    gap: 15px;
    padding-left: 20px;
  }
}
@media (max-width: 1242px) {
  .titanessegadores div ul, .maton-tirotruco div ul, .tinta-sombria div ul, .roll-eruditos div ul, .dumplings-mortales div ul {
    gap: 20px;
    height: 100px;
  }
  .titanessegadores div ul li img, .maton-tirotruco div ul li img, .tinta-sombria div ul li img, .roll-eruditos div ul li img, .dumplings-mortales div ul li img {
    height: 4.375rem;
    width: 4.375rem;
    align-items: center;
    justify-content: center;
  }
  .maton-tirotruco {
    font-size: 20px;
    gap: 15px;
    padding-left: 20px;
  }
  .maton-tirotruco div ul {
    gap: 20px;
    height: 85px;
  }
  .maton-tirotruco div ul li img {
    height: 3.75rem;
    width: 3.75rem;
    align-items: center;
    justify-content: center;
  }
  .tinta-sombria, .roll-eruditos, .dumplings-mortales {
    font-size: 20px;
    gap: 15px;
    padding-left: 20px;
  }
  .tinta-sombria div h4, .roll-eruditos div h4, .dumplings-mortales div h4 {
    padding-top: 33px;
  }
  .tinta-sombria div ul, .roll-eruditos div ul, .dumplings-mortales div ul {
    gap: 20px;
    height: 85px;
  }
  .tinta-sombria div ul li img, .roll-eruditos div ul li img, .dumplings-mortales div ul li img {
    height: 4.375rem;
    width: 4.375rem;
    align-items: center;
    justify-content: center;
  }
  .roll-eruditos {
    font-size: 20px;
    gap: 15px;
    padding-left: 20px;
  }
  .roll-eruditos div h4 {
    padding-top: 35px;
  }
  .roll-eruditos div ul {
    gap: 20px;
    height: 85px;
  }
  .roll-eruditos div ul li img {
    height: 4.0625rem;
    width: 4.0625rem;
    align-items: center;
    justify-content: center;
  }
  .dumplings-mortales {
    font-size: 20px;
    gap: 15px;
    padding-left: 20px;
  }
  .dumplings-mortales div ul {
    gap: 20px;
    height: 85px;
  }
  .dumplings-mortales div ul li img {
    height: 4.375rem;
    width: 4.375rem;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1142px) {
  .tabla-objetos ul {
    gap: 80px;
    padding-left: 170px;
  }
  .tabla-objetos ul .tabla-descripcion {
    padding-left: 100px;
  }
  .tabla-objetos ul .tabla-objetos-armado {
    padding-left: 100px;
  }
}
@media (max-width: 1024px) {
  main .seccionNotaParche {
    margin-left: 140px;
  }
  .nota-de-parche {
    margin-left: 240px;
    height: 800px;
  }
}
@media (max-width: 972px) {
  .tabla-objetos ul {
    gap: 50px;
    padding-left: 170px;
  }
  .tabla-objetos ul .tabla-descripcion {
    padding-left: 120px;
  }
  .tabla-objetos ul .tabla-objetos-armado {
    padding-left: 130px;
  }
  .tabla-objetos ul li div h3 {
    font-size: 23px;
  }
  .titanessegadores, .maton-tirotruco, .tinta-sombria, .roll-eruditos, .dumplings-mortales {
    font-size: 18px;
    gap: 13px;
    padding-left: 10px;
    padding-top: 70px;
  }
  .titanessegadores div h4, .maton-tirotruco div h4, .tinta-sombria div h4, .roll-eruditos div h4, .dumplings-mortales div h4 {
    padding-top: 30px;
  }
  .titanessegadores div h3, .maton-tirotruco div h3, .tinta-sombria div h3, .roll-eruditos div h3, .dumplings-mortales div h3 {
    padding-top: 25px;
  }
  .titanessegadores div ul, .maton-tirotruco div ul, .tinta-sombria div ul, .roll-eruditos div ul, .dumplings-mortales div ul {
    gap: 15px;
    height: 80px;
  }
  .titanessegadores div ul li img, .maton-tirotruco div ul li img, .tinta-sombria div ul li img, .roll-eruditos div ul li img, .dumplings-mortales div ul li img {
    height: 3.4375rem;
    width: 3.4375rem;
  }
  .imagen-s {
    height: 60px;
    width: 40px;
  }
  .maton-tirotruco {
    font-size: 18px;
    gap: 13px;
    padding-left: 10px;
    padding-top: 70px;
  }
  .maton-tirotruco div h4 {
    padding-top: 30px;
  }
  .maton-tirotruco div h3 {
    padding-top: 25px;
  }
  .maton-tirotruco div ul {
    gap: 15px;
    height: 70px;
  }
  .maton-tirotruco div ul li img {
    height: 2.8125rem;
    width: 2.8125rem;
  }
  .tinta-sombria, .roll-eruditos, .dumplings-mortales {
    font-size: 18px;
    gap: 13px;
    padding-left: 10px;
    padding-top: 70px;
  }
  .tinta-sombria div h4, .roll-eruditos div h4, .dumplings-mortales div h4 {
    padding-top: 30px;
  }
  .tinta-sombria div h3, .roll-eruditos div h3, .dumplings-mortales div h3 {
    padding-top: 27px;
  }
  .tinta-sombria div ul, .roll-eruditos div ul, .dumplings-mortales div ul {
    gap: 15px;
    height: 70px;
  }
  .tinta-sombria div ul li img, .roll-eruditos div ul li img, .dumplings-mortales div ul li img {
    height: 3rem;
    width: 3rem;
  }
  .roll-eruditos {
    font-size: 18px;
    gap: 13px;
    padding-left: 10px;
    padding-top: 70px;
  }
  .roll-eruditos div ul {
    gap: 15px;
    height: 70px;
  }
  .roll-eruditos div ul li img {
    height: 3rem;
    width: 3rem;
  }
  .dumplings-mortales {
    font-size: 18px;
    gap: 13px;
    padding-left: 10px;
    padding-top: 70px;
  }
  .dumplings-mortales div ul {
    gap: 15px;
    height: 70px;
  }
  .dumplings-mortales div ul li img {
    height: 3.125rem;
    width: 3.125rem;
  }
}
@media (max-width: 960px) {
  .tabla ul {
    gap: 70px;
    padding-left: 140px;
  }
  .tabla ul li div h3 {
    font-size: 23px;
  }
  .aatrox ul {
    gap: 50px;
    padding-left: 40px;
  }
  .aatrox ul .posiAtrox {
    padding-left: 90px;
  }
  .aatrox ul li .imgAtrox img {
    height: 3.75rem;
    width: 3.75rem;
  }
  .aatrox ul li div p {
    font-size: 18px;
  }
  .ahri ul {
    gap: 50px;
    padding-left: 40px;
  }
  .ahri ul li div p {
    font-size: 18px;
  }
  .ahri ul .imgAhri img {
    height: 3.75rem;
    width: 3.75rem;
  }
  .ahri ul .rasgosecunAhri {
    padding-left: 40px;
  }
  .alune ul {
    gap: 50px;
    padding-left: 40px;
  }
  .alune ul li div p {
    font-size: 18px;
  }
  .alune ul li .imgAlune img {
    height: 3.75rem;
    width: 3.75rem;
  }
  .alune ul li .sinergiaAlune {
    padding-left: 60px;
  }
  .alune ul li .rasgosecunAlune {
    padding-left: 60px;
  }
  .alune ul li .posiAlune {
    padding-left: 110px;
  }
  .amumu ul {
    gap: 50px;
    padding-left: 40px;
  }
  .amumu ul li div p {
    font-size: 18px;
  }
  .amumu ul li .imgAmumu img {
    height: 3.75rem;
    width: 3.75rem;
  }
  .amumu ul li .rasgosecunAmumu {
    padding-left: 50px;
  }
}
@media (max-width: 930px) {
  footer p {
    margin-top: 120px;
    margin-left: 250px;
  }
  footer h6 {
    margin-top: 130px;
  }
  .nota-de-parche {
    margin-left: 180px;
    height: 850px;
  }
}
@media (max-width: 902px) {
  main .seccionNotaParche div h2 {
    font-size: 35px;
  }
}
@media (max-width: 876px) {
  .nota-de-parche {
    margin-left: 180px;
    height: 820px;
  }
  .nota-de-parche div h3 {
    font-size: 45px;
  }
  .nota-de-parche div dl {
    font-size: 18px;
  }
  .nota-de-parche p {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .tabla-objetos ul .tabla-descripcion {
    padding-left: 80px;
  }
  .tabla-objetos ul .tabla-objetos-armado {
    padding-left: 100px;
  }
}
@media (max-width: 809px) {
  main .seccionNotaParche p {
    font-size: 18px;
  }
  main .seccionNotaParche ul li {
    font-size: 18px;
  }
  .tabla-objetos ul .tabla-descripcion {
    padding-left: 80px;
  }
  .tabla-objetos ul .tabla-objetos-armado {
    padding-left: 60px;
  }
  main .nota-de-parche {
    height: 850px;
    width: 70%;
    margin-left: 100px;
  }
  main .nota-de-parche div h3 {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  header nav ul li {
    margin: 10px;
  }
  main .seccionNotaParche {
    margin-left: 100px;
  }
  main .seccionNotaParche div h2 {
    margin-top: 20px;
    font-size: 30px;
  }
  main .seccionNotaParche p {
    padding-top: 30px;
  }
  .tabla-objetos ul .tabla-descripcion {
    padding-left: 40px;
  }
  .baculo-del-arcangel div ul .desc-baculo {
    padding-left: 30px;
  }
}
@media (max-width: 729px) {
  main .seccionNotaParche {
    height: 450px;
  }
  .imagen-s {
    height: 2.5rem;
    width: 1.875rem;
    padding-top: 13px;
  }
  .titanessegadores, .maton-tirotruco, .tinta-sombria, .roll-eruditos, .dumplings-mortales {
    font-size: 10px;
    gap: 5px;
    padding-left: 5px;
    padding-top: 50px;
  }
  .titanessegadores div h4, .maton-tirotruco div h4, .tinta-sombria div h4, .roll-eruditos div h4, .dumplings-mortales div h4 {
    padding-top: 20px;
  }
  .titanessegadores div h3, .maton-tirotruco div h3, .tinta-sombria div h3, .roll-eruditos div h3, .dumplings-mortales div h3 {
    padding-top: 18px;
  }
  .titanessegadores div ul, .maton-tirotruco div ul, .tinta-sombria div ul, .roll-eruditos div ul, .dumplings-mortales div ul {
    gap: 5px;
    height: 50px;
  }
  .titanessegadores div ul li img, .maton-tirotruco div ul li img, .tinta-sombria div ul li img, .roll-eruditos div ul li img, .dumplings-mortales div ul li img {
    height: 1.875rem;
    width: 1.875rem;
  }
  .tabla ul {
    gap: 3.125rem;
  }
  .tabla ul li .gridPosicionamiento {
    padding-left: 0px;
  }
  .aatrox ul .posiAtrox {
    padding-left: 40px;
  }
  .ahri ul .posiAhri {
    padding-left: 65px;
  }
  .alune ul li .posiAlune {
    padding-left: 50px;
  }
  .amumu ul li .posiAmumu {
    padding-left: 55px;
  }
  .nota-de-parche {
    width: 80%;
    margin-left: 80px;
    height: 750px;
  }
  .nota-de-parche div h3 {
    margin-bottom: 20px;
    font-size: 40px;
  }
  .nota-de-parche div dl {
    font-size: 17px;
  }
  .nota-de-parche p {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .tabla-objetos ul {
    gap: 40px;
    padding-left: 70px;
    padding-bottom: 0px;
  }
  .tabla-objetos ul li div h3 {
    font-size: 20px;
    text-align: center;
  }
  .tabla-descripcion {
    padding-left: 0px;
  }
  .tabla-objetos-armado {
    margin-left: 60px;
  }
  .armadura-petrea ul {
    padding-left: 5px;
    gap: 10px;
    padding-bottom: 0px;
  }
  .armadura-petrea ul li p {
    font-size: 15px;
    padding-top: 0px;
  }
  .armadura-petrea ul li img {
    height: 2.5rem;
    width: 2.5rem;
  }
  .baculo-del-arcangel ul {
    padding-left: 5px;
    gap: 10px;
    padding-bottom: 0px;
  }
  .baculo-del-arcangel ul li p {
    font-size: 15px;
    padding-top: 0px;
  }
  .baculo-del-arcangel ul li img {
    height: 2.5rem;
    width: 2.5rem;
  }
  .baculo-del-arcangel ul .desc-baculo {
    padding-left: 10px;
  }
  .baculo-del-arcangel ul .armado-baculo {
    padding-left: 0px;
  }
  .capa-fuego-solar ul {
    padding-left: 5px;
    gap: 10px;
    padding-bottom: 0px;
  }
  .capa-fuego-solar ul li p {
    font-size: 15px;
    padding-top: 0px;
  }
  .capa-fuego-solar ul li img {
    height: 2.5rem;
    width: 2.5rem;
  }
  .chispa-ionica ul {
    padding-left: 5px;
    gap: 10px;
    padding-bottom: 0px;
  }
  .chispa-ionica ul li p {
    font-size: 15px;
    padding-top: 0px;
  }
  .chispa-ionica ul li img {
    height: 2.5rem;
    width: 2.5rem;
  }
  .chispa-ionica ul .desc-chispa {
    padding-left: 0px;
  }
}
@media (max-width: 681px) {
  header nav ul {
    flex-direction: row;
  }
  header nav ul li a {
    font-size: 13px;
  }
  footer div a {
    display: flex;
    gap: 1.25rem;
    width: 20px;
    height: 20px;
    margin-right: 1rem;
    margin-top: 50px;
  }
  footer p {
    display: flex;
    font-size: 8px;
    margin-top: 100px;
    margin-left: 150px;
    align-items: center;
    text-align: center;
  }
  footer h6 {
    font-size: 8px;
    margin-bottom: 50px;
  }
  main .seccionTituloBienvenida {
    width: 100%;
    height: 500px;
  }
  main .seccionTituloBienvenida h1 {
    font-size: 50px;
    margin-bottom: 50px;
    padding-top: 1.875rem;
  }
  main .seccionNotaParche {
    padding-bottom: 0px;
    margin-left: 70px;
    height: 350px;
    margin-left: 100px;
  }
  main .seccionNotaParche div h2 {
    margin-top: 5px;
    font-size: 20px;
    text-align: center;
  }
  main .seccionNotaParche div a {
    font-size: 15px;
  }
  main .seccionNotaParche ul li {
    font-size: 15px;
  }
  main .seccionNotaParche p {
    padding-top: 10px;
    font-size: 15px;
  }
}
@media (max-width: 672px) {
  .tabla ul {
    gap: 40px;
  }
  .tabla ul li div h3 {
    font-size: 1.125rem;
  }
  .tabla ul li .gridSinergia {
    padding-left: 40px;
  }
  .aatrox ul {
    gap: 30px;
  }
  .ahri ul {
    gap: 30px;
  }
  .alune ul {
    gap: 30px;
  }
  .amumu ul {
    gap: 30px;
  }
}
@media (max-width: 606px) {
  .tabla-objetos ul .tabla-objetos-armado {
    padding-left: 0px;
  }
}
@media (max-width: 592px) {
  main .seccionNotaParche {
    margin-left: 5rem;
  }
  .tabla ul {
    gap: 25px;
    padding-left: 80px;
  }
  .tabla ul li .gridSinergia {
    padding-left: 30px;
  }
  .aatrox ul {
    padding-left: 20px;
    gap: 20px;
  }
  .aatrox ul li .imgAtrox {
    padding-top: 20px;
  }
  .aatrox ul li .imgAtrox img {
    height: 2.5rem;
    width: 2.5rem;
  }
  .ahri ul {
    padding-left: 20px;
    gap: 20px;
  }
  .ahri ul .imgAhri div {
    padding-top: 20px;
  }
  .ahri ul .imgAhri div img {
    height: 2.5rem;
    width: 2.5rem;
  }
  .alune ul {
    padding-left: 20px;
    gap: 20px;
  }
  .alune ul li .imgAlune {
    padding-top: 20px;
  }
  .alune ul li .imgAlune img {
    height: 2.5rem;
    width: 2.5rem;
  }
  .amumu ul {
    padding-left: 20px;
    gap: 20px;
  }
  .amumu ul li .imgAmumu {
    padding-top: 20px;
  }
  .amumu ul li .imgAmumu img {
    height: 2.5rem;
    width: 2.5rem;
  }
  .tabla-objetos ul {
    padding-left: 50px;
    gap: 1.875rem;
  }
  .tabla-objetos ul .tabla-descripcion {
    padding-left: 0px;
    margin-left: 50px;
  }
  .tabla-objetos ul .tabla-objetos-armado {
    margin-left: 40px;
  }
  main .nota-de-parche {
    width: 85%;
    margin-left: 40px;
    height: 850px;
  }
}
@media (max-width: 509px) {
  main .seccionTituloBienvenida {
    height: 300px;
  }
  main .seccionTituloBienvenida h1 {
    font-size: 30px;
  }
  main .seccionNotaParche {
    margin-left: 50px;
    height: 400px;
  }
  .imagen-s {
    height: 30px;
    width: 20px;
    padding-top: 15px;
  }
  .titanessegadores, .maton-tirotruco, .tinta-sombria, .roll-eruditos, .dumplings-mortales {
    font-size: 7px;
    gap: 5px;
    padding-left: 1px;
    padding-top: 30px;
  }
  .titanessegadores div h4, .maton-tirotruco div h4, .tinta-sombria div h4, .roll-eruditos div h4, .dumplings-mortales div h4 {
    padding-top: 18px;
  }
  .titanessegadores div h3, .maton-tirotruco div h3, .tinta-sombria div h3, .roll-eruditos div h3, .dumplings-mortales div h3 {
    padding-top: 17px;
  }
  .titanessegadores div ul, .maton-tirotruco div ul, .tinta-sombria div ul, .roll-eruditos div ul, .dumplings-mortales div ul {
    gap: 5px;
    height: 40px;
  }
  .titanessegadores div ul li img, .maton-tirotruco div ul li img, .tinta-sombria div ul li img, .roll-eruditos div ul li img, .dumplings-mortales div ul li img {
    height: 1.25rem;
    width: 1.25rem;
  }
  .tabla ul {
    gap: 20px;
    padding-left: 60px;
  }
  .tabla ul li div h3 {
    font-size: 15px;
  }
  .tabla ul li .gridSinergia {
    padding-left: 0px;
  }
  .aatrox ul {
    gap: 10px;
  }
  .aatrox ul li div p {
    font-size: 13px;
  }
  .ahri ul {
    gap: 10px;
  }
  .ahri ul .sinergiaAhri {
    padding-left: 20px;
  }
  .ahri ul li div p {
    font-size: 13px;
  }
  .alune ul {
    gap: 10px;
  }
  .alune ul li .sinergiaAlune {
    padding-left: 1.25rem;
  }
  .alune ul li div p {
    font-size: 13px;
  }
  .amumu ul {
    gap: 10px;
  }
  .amumu ul li .sinergiaAmumu {
    padding-left: 1.25rem;
  }
  .amumu ul li div p {
    font-size: 13px;
  }
  .tabla-objetos ul {
    gap: 12px;
    padding-left: 50px;
    padding-bottom: 0px;
  }
  .tabla-objetos ul .tabla-objetos-armado {
    padding-left: 5px;
  }
  .tabla-objetos ul li div h3 {
    font-size: 18px;
    text-align: center;
  }
  main .nota-de-parche {
    width: 80%;
    margin-left: 45px;
    height: 800px;
  }
  main .nota-de-parche div h3 {
    font-size: 35px;
  }
  main .nota-de-parche div dl {
    font-size: 15px;
  }
  main .nota-de-parche p {
    font-size: 18px;
    margin-bottom: 5px;
  }
}
@media (max-width: 407px) {
  .tabla-objetos ul {
    gap: 10px;
    padding-left: 50px;
    padding-bottom: 0px;
  }
  .tabla-objetos ul .tabla-objetos-armado {
    padding-left: 5px;
  }
  .tabla-objetos ul .tabla-descripcion {
    padding-left: 0px;
  }
  .tabla-objetos ul li div h3 {
    font-size: 15px;
  }
  .armadura-petrea ul {
    padding-left: 1px;
    gap: 5px;
    padding-bottom: 0px;
  }
  .armadura-petrea ul li p {
    font-size: 12px;
    padding-top: 0px;
  }
  .baculo-del-arcangel ul {
    padding-left: 1px;
    gap: 5px;
    padding-bottom: 0px;
  }
  .baculo-del-arcangel ul li p {
    font-size: 12px;
    padding-top: 0px;
  }
  .capa-fuego-solar ul {
    padding-left: 1px;
    gap: 5px;
    padding-bottom: 0px;
  }
  .capa-fuego-solar ul li p {
    font-size: 12px;
    padding-top: 0px;
  }
  .chispa-ionica ul {
    padding-left: 1px;
    gap: 5px;
    padding-bottom: 0px;
  }
  .chispa-ionica ul li p {
    font-size: 12px;
    padding-top: 0px;
  }
}
@media (max-width: 396px) {
  footer p {
    margin-left: 40px;
  }
}
@media (max-width: 384px) {
  .tabla ul {
    gap: 20px;
    padding-left: 50px;
  }
  .tabla ul li div h3 {
    font-size: 13px;
  }
  .aatrox ul {
    gap: 15px;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .aatrox ul li div p {
    font-size: 10px;
    padding-top: 10px;
  }
  .aatrox ul li .imgAtrox {
    padding-top: 0px;
  }
  .aatrox ul li .imgAtrox img {
    height: 1.875rem;
    width: 1.875rem;
  }
  .ahri ul {
    gap: 15px;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .ahri ul .imgAhri div {
    padding-top: 0px;
  }
  .ahri ul .imgAhri div img {
    height: 1.875rem;
    width: 1.875rem;
  }
  .ahri ul .posiAhri {
    padding-left: 50px;
  }
  .ahri ul li div p {
    font-size: 10px;
    padding-top: 10px;
  }
  .alune ul {
    gap: 15px;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .alune ul li .posiAlune {
    padding-left: 40px;
  }
  .alune ul li .rasgosecunAlune {
    padding-left: 55px;
  }
  .alune ul li .imgAlune {
    padding-top: 0px;
  }
  .alune ul li .imgAlune img {
    height: 1.875rem;
    width: 1.875rem;
  }
  .alune ul li div p {
    font-size: 10px;
    padding-top: 10px;
  }
  .amumu ul {
    gap: 15px;
    padding-left: 5px;
    padding-bottom: 50px;
    padding-top: 20px;
  }
  .amumu ul li .posiAmumu {
    padding-left: 40px;
  }
  .amumu ul li .imgAmumu {
    padding-top: 0px;
  }
  .amumu ul li .imgAmumu img {
    height: 1.875rem;
    width: 1.875rem;
  }
  .amumu ul li div p {
    font-size: 10px;
    padding-top: 10px;
  }
}
@media (max-width: 375px) {
  footer h6 {
    display: flex;
    font-size: 10px;
    margin-top: 150px;
    margin-left: 0px;
  }
  footer p {
    margin-left: 0px;
    margin-top: 125px;
    font-family: "Zain", sans-serif;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
  }
  header div h2 {
    font-size: 30px;
  }
  header nav ul li a {
    font-size: 10px;
  }
  main .seccionTituloBienvenida {
    height: 250px;
  }
  main .seccionTituloBienvenida h1 {
    font-size: 25px;
  }
  main .seccionNotaParche {
    margin-left: 40px;
    padding-top: 30px;
    padding-bottom: 0px;
  }
  main .seccionNotaParche p {
    padding-top: 0px;
    font-size: 12px;
  }
  main .seccionNotaParche ul li {
    font-size: 12px;
  }
  main .seccionNotaParche div h2 {
    margin-top: 5px;
    font-size: 15px;
    text-align: center;
  }
  main .seccionNotaParche div a {
    font-size: 12px;
  }
}
@media (max-width: 368px) {
  .tabla ul {
    gap: 10px;
  }
  .aatrox ul {
    gap: 10px;
  }
  .ahri ul {
    gap: 10px;
  }
  .alune ul {
    gap: 10px;
  }
  .alune ul li .posiAlune {
    padding-left: 45px;
  }
  .amumu ul {
    gap: 10px;
  }
  .tabla-objetos ul {
    gap: 10px;
  }
  .tabla-objetos ul .tabla-descripcion {
    margin-left: 10px;
  }
  .tabla-objetos ul .tabla-objetos-armado {
    margin-left: 0px;
  }
  main .nota-de-parche {
    height: 900px;
  }
}

/*# sourceMappingURL=style.css.map */
