
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Zain:wght@200;300;400;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




header {
    background-color: #2A274B;
    color: white;
    margin: 0;

}

header div {
    size: 5.75rem 100%;
    display: flex;
    justify-content: space-between;
}

header div h2 {
    font-family: "Zain", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .625rem;
}

header div img {
    display: flex;
    width: 59px;
    height: 59px;
    margin-right: 1rem;
    margin-top: .625rem;
}

header nav ul {
    display: flex;
    list-style: none;
    size: 6.25rem 6.25rem;
    align-items: center;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
}   

header nav ul li {
    margin: 1.875rem;
    padding:  10px 25px;
    border-radius: .3125rem;
    border-color: #7271713a;
    border-style: ridge;
    border-radius: 1.5625rem;
    background-color:#323050;
    
    
}

header nav ul li a{
    font-family: "Zain", sans-serif;
    font-weight: 700;
    font-style: oblique;
    font-size: 20px;
}

header nav ul li a:hover{
    color: #ebbf6e;
}

.botonInicio {
    border-color: #ebbf6e;
    border-style: ridge;
    
}

.botonCompos {
    border-color: #ebbf6e;
    border-style: ridge;
    
}

.botonCampeones {
    border-color: #ebbf6e;
    border-style: ridge;
}

.botonObjetos {
    border-color: #ebbf6e;
    border-style: ridge;
}

.botonNotas {
    border-color: #ebbf6e;
    border-style: ridge;
}

header nav ul li a {
    
    color: white;
    text-decoration: none;
}


footer {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    background-color: #323050;
    color: #070707;
    padding: 0;
    margin: 0;
}


footer h6{
    text-align: left;
    margin-top: 150px;

}

footer div{
    height: 50%;
    display: flex;
    margin-top: 100px;
    margin-left: 25px;
    color: #9A9A9A;


}

footer p{
    margin-left: 750px;
    margin-top: 120px;
    font-family: "Zain", sans-serif;
    font-size: large;
    font-weight: 500;
    font-style: normal;

}


footer div a{
    display: flex;
    gap: 1.25rem;
    width: 45px;
    height: 45px;
    margin-right: 1rem;
    margin-top: .625rem;
}

main {
    background-color: #323050;
    background-size: cover;
    color: white;
    margin: 0;
    width: 100%;
}




.seccionTituloBienvenida{
    width: 100%;
    height: 600px;
    text-align: center;
    background-image: url("../assets/img/Fabulas-de-tinta-vectorizado.png");
    background-position:top;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: contain ;
    margin: 0;
    padding-bottom: 0px;

}

.seccionTituloBienvenida h1 {
    size:initial;
    text-align: center;
    color: #D4D4D4;
    text-shadow: #383737;
    padding-top: 1.875rem;
    font-size: 70px;
    font-family: "Zain", sans-serif;
    font-weight: 700;
    font-style: normal;
}


.seccionNotaParche{
    height: 23rem;
    width: 75%;
    margin-left: 250px;
    background-color: #403E5E;
    background-size: 50% 300px;
    padding-top: .3125rem;
    align-items: center center;
    border-color: #7271713a;
    border-style:ridge;
    border-radius: 1.5625rem;
    border-width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.seccionNotaParche div{
    width: 50%;
    height: 30%;
    margin-left: 25%;
    
}



.seccionNotaParche div h2 {
    font-family: "Zain", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    margin-bottom: 40px;
    background-color: #2A274B;
    background-size:auto;
    border-color: #2A274B;
    border-radius: 1.5625rem;
}



.seccionNotaParche p {
    font-family: "Zain", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    
}

.seccionNotaParche ul li {
    font-family: "Zain", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.25rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .0rem;
}

.seccionNotaParche div a {
    color: white;
    text-decoration: none;
    font-family: "Zain", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.25rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .0rem;
}


.titanessegadores{
    font-family: "Zain", sans-serif;
    font-weight: 10;
    font-size: 30px;
    text-align: center;
    font-style: normal;
    display: flex;
    padding-top: 100px;
    flex-direction: row;
    padding-left: 80px;
    gap: 50px;

}

.titanessegadores div h4{
    padding-top: 50px;
}

.titanessegadores div h3{
    padding-top: 45px;
}


.imagen-s {
    height: 100px;
    width: 100px;
    padding-top: 20px;
    
}

.titanessegadores div ul{
    list-style: none;
    display: flex;
    height: 150px;
    flex-direction: row;
    gap: 40px;
    border-color: #2A274B;
    border-style: solid;
    border-radius: 100rem;
    background-color:#2A274B;
    border-width: 10px;

}

.titanessegadores div ul li img{
    height: 100px;
    width: 100px;
    border-radius: 100rem;
}



.maton-tirotruco{
    font-family: "Zain", sans-serif;
    font-weight: 10;
    font-size: 30px;
    text-align: center;
    font-style: normal;
    display: flex;
    padding-top: 100px;
    flex-direction: row;
    padding-left: 80px;
    gap: 50px;
}

.maton-tirotruco div h4{
    padding-top: 50px;
}

.maton-tirotruco div h3{
    padding-top: 45px;
}

.imagen-s{
    height: 100px;
    width: 100px;
    padding-top: 20px;
}

.maton-tirotruco div ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    height: 150px;
    gap: 40px;
    border-color: #2A274B;
    border-style: solid;
    border-radius: 100rem;
    background-color:#2A274B;
    border-width: 10px;
}

.maton-tirotruco div ul li img{
    height: 100px;
    width: 100px;
    border-radius: 100rem;
}

.tinta-sombria{
    font-family: "Zain", sans-serif;
    font-weight: 10;
    font-size: 30px;
    text-align: center;
    font-style: normal;
    display: flex;
    padding-top: 100px;
    flex-direction: row;
    padding-left: 80px;
    gap: 50px;
}

.tinta-sombria  div h4{
    padding-top: 50px;
}

.tinta-sombria  div h3{
    padding-top: 45px;
}

.imagen-s{
    height: 100px;
    width: 100px;
    padding-top: 20px;
}

.tinta-sombria div ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    height: 140px;
    gap: 40px;
    border-color: #2A274B;
    border-style: solid;
    border-radius: 100rem;
    background-color:#2A274B;
    border-width: 10px;
}

.tinta-sombria div ul li img{
    height: 100px;
    width: 100px;
    border-radius: 100rem;
}


.roll-eruditos{
    font-family: "Zain", sans-serif;
    font-weight: 10;
    font-size: 30px;
    text-align: center;
    font-style: normal;
    display: flex;
    padding-top: 100px;
    flex-direction: row;
    padding-left: 80px;
    gap: 50px;
}

.roll-eruditos div h4{
    padding-top: 50px;
}

.roll-eruditos div h3{
    padding-top: 45px;
}

.imagen-s{
    height: 100px;
    width: 100px;
    padding-top: 20px;
}

.roll-eruditos div ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    height: 140px;
    gap: 40px;
    border-color: #2A274B;
    border-style: solid;
    border-radius: 100rem;
    background-color:#2A274B;
    border-width: 10px;
}

.roll-eruditos div ul li img{
    height: 100px;
    width: 100px;
    border-radius: 100rem;
}

.dumplings-mortales{
    font-family: "Zain", sans-serif;
    font-weight: 10;
    font-size: 30px;
    text-align: center;
    font-style: normal;
    display: flex;
    padding-top: 100px;
    flex-direction: row;
    padding-left: 80px;
    gap: 50px;
}

.dumplings-mortales div h4{
    padding-top: 50px;
}

.dumplings-mortales div h3{
    padding-top: 45px;
}

.imagen-s{
    height: 100px;
    width: 100px;
    padding-top: 20px;
}

.dumplings-mortales div ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    height: 140px;
    gap: 40px;
    border-color: #2A274B;
    border-style: solid;
    border-radius: 100rem;
    background-color:#2A274B;
    border-width: 10px;
}

.dumplings-mortales div ul li img{
    height: 100px;
    width: 100px;
    border-radius: 100rem;
}

.tabla ul{
    display: flex;
    flex-direction: row;
    padding-left: 500px;
    list-style: none;
    gap: 270px;
    padding-top: 50px;
}

.tabla ul li div h3{
    font-family: "Zain", sans-serif;
    font-weight: 20px;
    font-size: 30px;
}

.aatrox ul{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    list-style: none;
    gap: 180px;
    padding-left: 200px;
}

.aatrox ul li div p{
    font-family: "Zain", sans-serif;
    font-weight: 5px;
    font-size: 30px;
    padding-top: 1.875rem;
}


.rasgosecunAtrox{
    padding-left: 50px;
}

.posiAtrox{
    padding-left: 200px;
}


.ahri ul{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    list-style: none;
    gap: 200px;
    padding-left: 200px;
}

.ahri ul li div p{
    font-family: "Zain", sans-serif;
    font-weight: 5px;
    font-size: 30px;
    padding-top: 1.875rem;
}

.sinergiaAhri{
    padding-left: 50px;
}

.rasgosecunAhri{
    padding-left: 100px;
}

.posiAhri{
    padding-left: 180px;
}

.alune ul {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    list-style: none;
    gap: 190px;
    padding-left: 200px;
}

.alune ul li div p{
    font-family: "Zain", sans-serif;
    font-weight: 5px;
    font-size: 30px;
    padding-top: 1.875rem;
}

.sinergiaAlune{
    padding-left: 80px;
}

.rasgosecunAlune{
    padding-left: 140px;
}

.posiAlune{
    padding-left: 180px;
}

.amumu ul{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    list-style: none;
    gap: 190px;
    padding-left: 200px;
}


.amumu ul li div p{
    font-family: "Zain", sans-serif;
    font-weight: 5px;
    font-size: 30px;
    padding-top: 1.875rem;
}

.sinergiaAmumu{
    padding-left: 50px;
}

.rasgosecunAmumu{
    padding-left: 135px;
}

.posiAmumu{
    padding-left: 190px;
}

.tabla-objetos ul{
    display: flex;
    flex-direction: row;
    padding-left: 400px;
    list-style: none;
    gap: 350px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.tabla-objetos ul li div h3{
    font-family: "Zain", sans-serif;
    font-weight: 20px;
    font-size: 30px;
}

.tabla-objetos-armado{
    padding-left: 100px;
}


.armadura-petrea ul{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    list-style: none;
    gap: 100px;
    padding-left: 150px;
}

.armadura-petrea ul li p{
    padding-top: 20px;
    font-family: "Zain", sans-serif;
    font-size: 25px;
}

.campeon-armadura{
    padding-left: 100px;
}

.baculo-del-arcangel ul{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    list-style: none;
    gap: 100px;
    padding-left: 150px;
}

.baculo-del-arcangel ul li p{
    padding-top: 20px;
    font-family: "Zain", sans-serif;
    font-size: 25px;
}

.desc-baculo{
    padding-left: 120px;
}

.armado-baculo{
    padding-left: 75px;
}

.campeon-baculo{
    padding-left: 100px;
}

.capa-fuego-solar ul{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    list-style: none;
    gap: 100px;
    padding-left: 150px;
}

.capa-fuego-solar ul li p{
    padding-top: 20px;
    font-family: "Zain", sans-serif;
    font-size: 25px;
}

.armado-capa{
    padding-left: 60px;
}

.campeon-capa{
    padding-left: 130px;
}


.chispa-ionica ul{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    list-style: none;
    gap: 100px;
    padding-left: 150px;
}

.chispa-ionica ul li p{
    padding-top: 20px;
    font-family: "Zain", sans-serif;
    font-size: 25px;
}

.nombre-chispa{
    padding-left: 25px;
}

.desc-chispa{
    padding-left: 35px;
}

.campeon-chispa{
    padding-left: 50px;
}

.nota-de-parche{
    height: 700px;
    width: 60%;
    margin-left: 400px;
    background-color: #403E5E;
    background-size: 50% 300px;
    padding-top: 50px;
    align-items: center center;
    border-color: #7271713a;
    border-style:ridge;
    border-radius: 1.5625rem;
    border-width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.nota-de-parche div{
    align-items: center;

}
.nota-de-parche div h3{
    font-family: "Zain", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    margin-bottom: 40px;
    background-color: #2A274B;
    background-size:auto;
    border-color: #2A274B;
    border-radius: 1.5625rem;
    
}

.nota-de-parche p {
    font-family: "Zain", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nota-de-parche div dl{
    font-family: "Zain", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}



@media (max-width:1440px){
    .seccionNotaParche {
        margin-left: 170px;
    }

    .titanessegadores{
        font-size: 25px;
        gap: 25px;
    }
    .imagen-s{
        height: 80px;
        width: 80px;
        
    }

    .titanessegadores div h4{
        padding-top: 35px;
    }
    
    .titanessegadores div h3{
        padding-top: 30px;
    }

    .titanessegadores div ul{
        gap: 30px;
        height: 100px;
    }
    .titanessegadores div ul li img{
        height: 80px;
        width: 80px;
        align-items: center;
        justify-content: center;
    }

    .maton-tirotruco{
    font-size: 25px;
    gap: 25px;
    }

    .maton-tirotruco div h4{
        padding-top: 35px;
    }
    
    .maton-tirotruco div h3{
        padding-top: 30px;
    }

    .maton-tirotruco div ul{
        gap: 30px;
        height: 100px;
    }

    .maton-tirotruco div ul li img{
        height: 75px;
        width: 75px;
        align-items: center;
        justify-content: center;
    }

    .tinta-sombria{
        font-size: 25px;
        gap: 25px;
    }

    .tinta-sombria  div h4{
        padding-top: 35px;
    }
    
    .tinta-sombria  div h3{
        padding-top: 30px;
    }

    .tinta-sombria div ul{
        gap: 30px;
        height: 100px;
    }

    .tinta-sombria div ul li img{
        height: 75px;
        width: 75px;
        align-items: center;
        justify-content: center;
    }

    .roll-eruditos{
        font-size: 25px;
        gap: 25px;
    }

    .roll-eruditos div h4{
        padding-top: 35px;
    }
    
    .roll-eruditos div h3{
        padding-top: 30px;
    }

    .roll-eruditos div ul{
        gap: 30px;
        height: 100px;
    }

    .roll-eruditos div ul li img{
        height: 75px;
        width: 75px;
        align-items: center;
        justify-content: center;
    }

    .dumplings-mortales{
        font-size: 25px;
        gap: 25px;
    }

    .dumplings-mortales div h4{
        padding-top: 35px;
    }
    
    .dumplings-mortales div h3{
        padding-top: 30px;
    }

    .dumplings-mortales div ul{
        gap: 30px;
        height: 100px;
    }

    .dumplings-mortales div ul li img{
        height: 75px;
        width: 75px;
        align-items: center;
        justify-content: center;
    }

    .tabla ul{
        gap: 150px;
        padding-left: 350px;
    }

    .aatrox ul{
        gap: 100px;
        padding-left: 150px;
    }

    .aatrox ul li div p{
        font-size: 25px;
    }

    .posiAtrox{
        padding-left: 160px;
    }

    .imgAtrox img{
        width: 100px;
        height: 100px;
    }

    .ahri ul{
        gap: 110px;
        padding-left: 150px;
    }

    .ahri ul li div p{
        font-size: 25px;
    }

    .posiAhri{
        padding-left: 155px;
    }

    .imgAhri img{
        width: 100px;
        height: 100px;
    }

    .alune ul{
        gap: 100px;
        padding-left: 150px;
    }

    .rasgosecunAlune{
        padding-left: 130px;
    }

    .posiAlune{
        padding-left: 160px;
    }

    .alune ul li div p{
        font-size: 25px;
    }

    .imgAlune img{
        width: 100px;
        height: 100px;
    }

    .amumu ul{
        gap: 100px;
        padding-left: 150px;
    }

    .amumu ul li div p{
        font-size: 25px;
    }

    .imgAmumu img{
        width: 100px;
        height: 100px;
    }

    .posiAmumu{
        padding-left: 160px;
    }

    .tabla-objetos ul{
        gap: 180px;
        padding-left: 250px;
    }

    .tabla-descripcion{
        padding-left: 70px;
    }

    .armadura-petrea ul{
        padding-left: 80px;
        gap: 30px;
    }

    .armadura-petrea ul li p{
        text-align: center;
    }

    .campeon-armadura{
        padding-left: 0px;
    }

    .baculo-del-arcangel ul{
        padding-left: 80px;
        gap: 30px;
    }

    .baculo-del-arcangel ul li p{
        text-align: center;
    }

    .desc-baculo{
        padding-left: 50px;
    }

    .armado-baculo{
        padding-left: 10px;
    }

    .campeon-baculo{
        padding-left: 0px;
    }

    .capa-fuego-solar ul{
        padding-left: 80px;
        gap: 30px;
    }

    .capa-fuego-solar ul li p{
        text-align: center;
    }

    .desc-capa{
        padding-left: 10px;
    }

    .armado-capa{
        padding-left: 10px;
    }

    .campeon-capa{
        padding-left: 0px;
    }

    .chispa-ionica ul{
        padding-left: 80px;
        gap: 30px;
    }

    .chispa-ionica ul li p{
        text-align: center;
    }

    .campeon-chispa{
        padding-left: 0px;
    }
}

@media (max-width:1346px){
    .tabla-objetos ul{
        gap: 100px;
        padding-left: 170px;
    }

    .tabla-descripcion{
        padding-left: 50px;
    }

    .tabla-objetos-armado{
        padding-left: 130px;
    }

    .tabla-objetos ul li div h3{
        font-size: 25px;
    }

    .armadura-petrea ul{
        padding-left: 50px;
        gap: 25px;
    }

    .armadura-petrea ul li p{
        font-size: 20px;
        padding-top: 10px;
    }

    .armadura-petrea ul li img{
        width: 80px;
        height: 80px;
    }

    .baculo-del-arcangel ul{
        padding-left: 50px;
        gap: 25px;
    }

    .baculo-del-arcangel ul li p{
        font-size: 20px;
        padding-top: 10px;
    }

    .baculo-del-arcangel ul li img{
        width: 80px;
        height: 80px;
    }

    .desc-baculo{
        padding-left: 10px;
    }

    .capa-fuego-solar ul{
        padding-left: 50px;
        gap: 25px;
    }

    .capa-fuego-solar ul li p{
        font-size: 20px;
        padding-top: 10px;
    }

    .capa-fuego-solar ul li img{
        width: 80px;
        height: 80px;
    }

    .desc-capa{
        padding-left: 0px;
    }

    .armado-capa{
        padding-left: 0px;
    }

    .chispa-ionica ul{
        padding-left: 50px;
        gap: 25px;
    }

    .chispa-ionica ul li p{
        font-size: 20px;
        padding-top: 10px;
    }

    .chispa-ionica ul li img{
        width: 80px;
        height: 80px;
    }



}


@media (max-width:1302px){
    .maton-tirotruco div ul li img{
        height: 70px;
        width: 70px;
    }
}


@media (max-width:1297px){
    .tabla ul{
        gap: 105px;
        padding-left: 225px;
    }

    .tabla ul li div h3{
        font-size: 25px;
    }

    .aatrox ul{
        gap: 70px;
        padding-left: 80px;
    }

    .aatrox ul li div p{
        font-size: 22px;
    }

    .imgAtrox img{
        width: 80px;
        height: 80px;
    }

    .posiAtrox{
        padding-left: 120px;
    }

    .rasgosecunAtrox{
        padding-left: 20px;
    }

    .ahri ul{
        gap: 75px;
        padding-left: 80px;
    }

    .ahri ul li div p{
        font-size: 22px;
    }

    .imgAhri img{
        width: 80px;
        height: 80px;
    }

    .rasgosecunAhri{
        padding-left: 70px;
    }

    .posiAhri{
        padding-left: 120px;
    }

    .alune ul{
        gap: 70px;
        padding-left: 80px;
    }

    .alune ul li div p{
        font-size: 22px;
    }

    .imgAlune img{
        width: 80px;
        height: 80px;
    }

    .rasgosecunAlune{
        padding-left: 85px;
    }

    .posiAlune{
        padding-left: 115px;
    }

    .amumu ul{
        gap: 70px;
        padding-left: 80px;
    }

    .amumu ul li div p{
        font-size: 22px;
    }

    .imgAmumu img{
        width: 80px;
        height: 80px;
    }

    .rasgosecunAmumu{
        padding-left: 95px;
    }

    .posiAmumu{
        padding-left: 110px;
    }


}

@media (max-width:1272px){
    footer h6{
        display: flex;
        margin-top: 150px;
        margin-left: 50px;
    }

    footer p{
        margin-left: 500px;
        margin-top: 125px;
        font-family: "Zain", sans-serif;
        font-size: large;
        font-weight: 500;
        font-style: normal;
    
    }

    .seccionNotaParche div h2{
        font-size: 40px;
        margin-bottom: 0px;
    }

    .seccionNotaParche p{

        padding: 5px;
        justify-content: center;
        text-align: center;
    }

}


@media (max-width:1257px){
    .titanessegadores{
        font-size: 20px;
        gap: 15px;
        padding-left: 20px;
    }
    .imagen-s{
        height: 70px;
        width: 50px;
        
    }


    .titanessegadores div ul{
        gap: 20px;
        height: 100px;
    }
    .titanessegadores div ul li img{
        height: 70px;
        width: 70px;
        align-items: center;
        justify-content: center;
    }

    .maton-tirotruco{
        font-size: 20px;
        gap: 15px;
        padding-left: 20px;
    }

    .maton-tirotruco div h4{
        padding-top: 20px;
    }
    
    .maton-tirotruco div h3{
        padding-top: 15px;
    }

    .maton-tirotruco div ul{
        gap: 20px;
        height: 85px;
    }

    .maton-tirotruco div ul li img{
        height: 60px;
        width: 60px;
        align-items: center;
        justify-content: center;
    }

    .tinta-sombria{
        font-size: 20px;
        gap: 15px;
        padding-left: 20px;
    }

    .tinta-sombria  div h4{
        padding-top: 33px;
    }
    


    .tinta-sombria div ul{
        gap: 20px;
        height: 85px;
    }

    .tinta-sombria div ul li img{
        height: 70px;
        width: 70px;
        align-items: center;
        justify-content: center;
    }

    .roll-eruditos{
        font-size: 20px;
        gap: 15px;
        padding-left: 20px;
    }

    .roll-eruditos div h4{
        padding-top: 20px;
    }
    
    .roll-eruditos div h3{
        padding-top: 15px;
    }

    .roll-eruditos div ul{
        gap: 20px;
        height: 85px;
    }

    .roll-eruditos div ul li img{
        height: 65px;
        width: 65px;
        align-items: center;
        justify-content: center;
    }

    .dumplings-mortales{
        font-size: 20px;
        gap: 15px;
        padding-left: 20px;
    }

    .dumplings-mortales div h4{
        padding-top: 20px;
    }
    
    .dumplings-mortales div h3{
        padding-top: 15px;
    }

    .dumplings-mortales div ul{
        gap: 20px;
        height: 85px;
    }

    .dumplings-mortales div ul li img{
        height: 70px;
        width: 70px;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:1024px){
    .seccionNotaParche {
        margin-left: 140px;
    }
}

@media (max-width:972px){

    .tabla-objetos ul{
        gap: 50px;
        padding-left: 170px;
    }

    .tabla-descripcion{
        padding-left: 20px;
    }

    .tabla-objetos-armado{
        padding-left: 50px;
    }

    .tabla-objetos ul li div h3{
        font-size: 23px;
    }

}


@media (max-width:960px){
    .tabla ul{
        gap: 70px;
        padding-left: 140px;
    }

    .tabla ul li div h3{
        font-size: 23px;
    }

    .aatrox ul{
        gap: 50px;
        padding-left: 20px;
    }

    .aatrox ul li div p{
        font-size: 18px;
    }

    .imgAtrox img{
        width: 60px;
        height: 60px;
    }

    .ahri ul{
        gap: 50px;
        padding-left: 20px;
    }

    .ahri ul li div p{
        font-size: 18px;
    }

    .imgAhri img{
        width: 60px;
        height: 60px;
    }

    .rasgosecunAhri{
        padding-left: 65px;
    }

    .alune ul{
        gap: 50px;
        padding-left: 20px;
    }

    .alune ul li div p{
        font-size: 18px;
    }

    .imgAlune img{
        width: 60px;
        height: 60px;
    }

    .rasgosecunAlune{
        padding-left: 60px;
    }

    .posiAlune{
        padding-left: 110px;
    }

    .amumu ul{
        gap: 50px;
        padding-left: 20px;
    }

    .amumu ul li div p{
        font-size: 18px;
    }

    .imgAmumu img{
        width: 60px;
        height: 60px;
    }

    .rasgosecunAmumu{
        padding-left: 70px;
    }
}


@media (max-width:958px){
    .titanessegadores{
        font-size: 18px;
        gap: 13px;
        padding-left: 10px;
        padding-top: 70px;
    }
    .imagen-s{
        height: 60px;
        width: 40px;
        
    }

    .titanessegadores div h4{
        padding-top: 15px;
    }
    
    .titanessegadores div h3{
        padding-top: 10px;
    }

    .titanessegadores div ul{
        gap: 15px;
        height: 80px;
    }
    .titanessegadores div ul li img{
        height: 55px;
        width: 55px;
        align-items: center;
        justify-content: center;
    }

    .maton-tirotruco{
        font-size: 18px;
        gap: 13px;
        padding-left: 10px;
        padding-top: 70px;
    }

    .maton-tirotruco div h4{
        padding-top: 18px;
    }
    
    .maton-tirotruco div h3{
        padding-top: 13px;
    }

    .maton-tirotruco div ul{
        gap: 15px;
        height: 70px;
    }

    .maton-tirotruco div ul li img{
        height: 45px;
        width: 45px;
        align-items: center;
        justify-content: center;
    }

    .tinta-sombria{
        font-size: 18px;
        gap: 13px;
        padding-left: 10px;
        padding-top: 70px;
    }

    .tinta-sombria  div h4{
        padding-top: 30px;
    }
    
    .tinta-sombria  div h3{
        padding-top: 27px;
    }

    .tinta-sombria div ul{
        gap: 15px;
        height: 70px;
    }

    .tinta-sombria div ul li img{
        height: 48px;
        width: 48px;
        align-items: center;
        justify-content: center;
    }

    .roll-eruditos{
        font-size: 18px;
        gap: 13px;
        padding-left: 10px;
        padding-top: 70px;
    }

    .roll-eruditos div ul{
        gap: 15px;
        height: 70px;
    }

    .roll-eruditos div ul li img{
        height: 48px;
        width: 48px;
        align-items: center;
        justify-content: center;
    }

    .dumplings-mortales{
        font-size: 18px;
        gap: 13px;
        padding-left: 10px;
        padding-top: 70px;
    }

    .dumplings-mortales div ul{
        gap: 15px;
        height: 70px;
    }

    .dumplings-mortales div ul li img{
        height: 50px;
        width: 50px;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:928px){
    footer p{
        margin-top: 120px;
        margin-left: 250px;
    }
    footer h6{
        margin-top: 130px;
    }
}


@media (max-width:902px){
    .seccionNotaParche div h2{
        font-size: 35px;
    }
}

@media (max-width:809px){
    .seccionNotaParche p{
        font-size: 18px;
    }

    .seccionNotaParche ul li{
        font-size: 18px;
    }
}


@media (max-width:768px){
    header nav ul li {
        margin: 10px;
    }

    .seccionNotaParche{
        padding-bottom: 100px;
        margin-left: 100px;
    }

    .seccionNotaParche div h2{
        margin-top: 50px;
        font-size: 30px;
    }

    .seccionNotaParche p{
        padding-top: 30px;
    }


}

@media (max-width:729px){
    .titanessegadores{
        font-size: 10px;
        gap: 5px;
        padding-left: 5px;
        padding-top: 50px;
    }
    .imagen-s{
        height: 40px;
        width: 30px;
        padding-top: 13px;
    }

    .titanessegadores div h4{
        padding-top: 15px;
    }
    
    .titanessegadores div h3{
        padding-top: 10px;
    }

    .titanessegadores div ul{
        gap: 5px;
        height: 50px;
    }
    .titanessegadores div ul li img{
        height: 30px;
        width: 30px;
        align-items: center;
        justify-content: center;
    }

    .maton-tirotruco{
        font-size: 10px;
        gap: 5px;
        padding-left: 5px;
        padding-top: 50px;
    }

    .maton-tirotruco div h4{
        padding-top: 18px;
    }
    
    .maton-tirotruco div h3{
        padding-top: 15px;
    }

    .maton-tirotruco div ul{
        gap: 5px;
        height: 50px;
    }

    .maton-tirotruco div ul li img{
        height: 25px;
        width: 25px;
        align-items: center;
        justify-content: center;
    }

    .tinta-sombria{
        font-size: 10px;
        gap: 5px;
        padding-left: 5px;
        padding-top: 50px;
    }

    .tinta-sombria  div h4{
        padding-top: 23px;
    }
    
    .tinta-sombria  div h3{
        padding-top: 15px;
    }

    .tinta-sombria div ul{
        gap: 5px;
        height: 50px;
    }

    .tinta-sombria div ul li img{
        height: 30px;
        width: 30px;
        align-items: center;
        justify-content: center;
    }

    .roll-eruditos{
        font-size: 10px;
        gap: 5px;
        padding-left: 5px;
        padding-top: 50px;
    }

    
    .roll-eruditos div h4{
        padding-top: 15px;
    }
    
    .roll-eruditos div h3{
        padding-top: 10px;
    }

    .roll-eruditos div ul{
        gap: 5px;
        height: 50px;
    }

    .roll-eruditos div ul li img{
        height: 30px;
        width: 30px;
        align-items: center;
        justify-content: center;
    }

    .dumplings-mortales{
        font-size: 10px;
        gap: 5px;
        padding-left: 5px;
        padding-top: 50px;
    }

    
    .dumplings-mortales div h4{
        padding-top: 15px;
    }
    
    .dumplings-mortales div h3{
        padding-top: 10px;
    }

    .dumplings-mortales div ul{
        gap: 5px;
        height: 50px;
    }

    .dumplings-mortales div ul li img{
        height: 30px;
        width: 30px;
        align-items: center;
        justify-content: center;
    }

    .tabla ul{
        gap: 20px;
        padding-left: 80px;
    }

    .tabla ul li div h3{
        font-size: 15px;
    }

    .aatrox ul{
        gap: 20px;
        padding-left: 20px;
    }

    .aatrox ul li div p{
        font-size: 12px;
    }

    .posiAtrox{
        padding-left: 30px;
    }

    .rasgosecunAtrox{
        padding-left: 0px;
    }

    .imgAtrox img{
        width: 50px;
        height: 50px;
    }

    .ahri ul{
        gap: 20px;
        padding-left: 20px;
    }

    .ahri ul li div p{
        font-size: 12px;
    }

    .imgAhri img{
        width: 50px;
        height: 50px;
    }

    .sinergiaAhri{
        padding-left: 10px;
    }

    .rasgosecunAhri{
        padding-left: 20px;
    }

    .posiAhri{
        padding-left: 60px;
    }

    .alune ul{
        gap: 20px;
        padding-left: 20px;
    }

    .alune ul li div p{
        font-size: 12px;
    }

    .imgAlune img{
        width: 50px;
        height: 50px;
    }

    .sinergiaAlune{
        padding-left: 15px;
    }

    .rasgosecunAlune{
        padding-left: 30px;
    }

    .posiAlune{
        padding-left: 55px;
    }

    .amumu ul{
        gap: 20px;
        padding-left: 20px;
    }

    .amumu ul li div p{
        font-size: 12px;
    }

    .imgAmumu img{
        width: 50px;
        height: 50px;
    }

    .sinergiaAmumu{
        padding-left: 10px;
    }

    .rasgosecunAmumu{
        padding-left: 20px;
    }

    .posiAmumu{
        padding-left: 60px;
    }
}

@media (max-width:686px){
    .tabla-objetos ul{
        gap: 20px;
        padding-left: 70px;
        padding-bottom: 0px;
    }

    .tabla-descripcion{
        padding-left: 0px;
    }

    .tabla-objetos-armado{
        padding-left: 20px;
    }

    .tabla-objetos ul li div h3{
        font-size: 20px;
        text-align: center;
    }

    .armadura-petrea ul{
        padding-left: 5px;
        gap: 10px;
        padding-bottom: 0px;
    }

    .armadura-petrea ul li p{
        font-size: 15px;
        padding-top: 0px;
    }

    .armadura-petrea ul li img{
        width: 40px;
        height: 40px;
    }

    .baculo-del-arcangel ul{
        padding-left: 5px;
        gap: 10px;
        padding-bottom: 0px;
    }

    .baculo-del-arcangel ul li p{
        font-size: 15px;
        padding-top: 0px;
    }

    .baculo-del-arcangel ul li img{
        width: 40px;
        height: 40px;
    }

    .desc-baculo{
        padding-left: 10px;
    }

    .armado-baculo{
        padding-left: 0px;
    }

    .capa-fuego-solar ul{
        padding-left: 5px;
        gap: 10px;
        padding-bottom: 0px;
    }

    .capa-fuego-solar ul li p{
        font-size: 15px;
        padding-top: 0px;
    }

    .capa-fuego-solar ul li img{
        width: 40px;
        height: 40px;
    }

    .chispa-ionica ul{
        padding-left: 5px;
        gap: 10px;
        padding-bottom: 0px;
    }

    .chispa-ionica ul li p{
        font-size: 15px;
        padding-top: 0px;
    }

    .chispa-ionica ul li img{
        width: 40px;
        height: 40px;
    }

    .desc-chispa{
        padding-left: 0px;
    }
}


@media (max-width:681px){


    footer div a{
        display: flex;
        gap: 1.25rem;
        width: 20px;
        height: 20px;
        margin-right: 1rem;
        margin-top: 50px;
    }

    footer p{
        display: flex;
        font-size: 8px;
        margin-top: 100px;
        margin-left: 150px;
        align-items: center;
        text-align: center;
    }

    footer h6{
        font-size: 8px;
    }

    .seccionNotaParche{
        padding-bottom: 0px;
        margin-left: 70px;
        
    }

    .seccionNotaParche div h2{
        margin-top: 5px;
        font-size: 20px;
        text-align: center;
    }

    .seccionNotaParche ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    .seccionNotaParche ul li{
        font-size: 15px;
    }

    .seccionNotaParche p{
        padding-top: 10px;
        font-size: 15px;
    }

    .seccionNotaParche div a{
        font-size: 15px;
    }

    .seccionTituloBienvenida{
        width: 100%;
        height: 500px;
    
    }
    
    .seccionTituloBienvenida h1 {
        padding-top: 1.875rem;
        font-size: 40px;
        margin-bottom: 50px;
    }

    header nav ul li a{
        font-size: 13px;

    }

    header nav ul{
        flex-direction: row;
        
    }
}


@media (max-width:407px){
    .tabla-objetos ul{
        gap: 12px;
        padding-left: 50px;
        padding-bottom: 0px;
    }

    .tabla-objetos-armado{
        padding-left: 5px;
    }

    .tabla-objetos ul li div h3{
        font-size: 15px;
        text-align: center;
    }

    .armadura-petrea ul{
        padding-left: 1px;
        gap: 5px;
        padding-bottom: 0px;
    }

    .armadura-petrea ul li p{
        font-size: 12px;
        padding-top: 0px;
    }

    .baculo-del-arcangel ul{
        padding-left: 1px;
        gap: 5px;
        padding-bottom: 0px;
    }

    .baculo-del-arcangel ul li p{
        font-size: 12px;
        padding-top: 0px;
    }

    .capa-fuego-solar ul{
        padding-left: 1px;
        gap: 5px;
        padding-bottom: 0px;
    }

    .capa-fuego-solar ul li p{
        font-size: 12px;
        padding-top: 0px;
    }

    .chispa-ionica ul{
        padding-left: 1px;
        gap: 5px;
        padding-bottom: 0px;
    }

    .chispa-ionica ul li p{
        font-size: 12px;
        padding-top: 0px;
    }

}


@media (max-width:403px){
    .titanessegadores{
        font-size: 7px;
        gap: 5px;
        padding-left: 1px;
        padding-top: 30px;
    }
    .imagen-s{
        height: 30px;
        width: 20px;
        padding-top: 15px;
    }

    .titanessegadores div h4{
        padding-top: 18px;
    }
    
    .titanessegadores div h3{
        padding-top: 17px;
    }

    .titanessegadores div ul{
        gap: 5px;
        height: 40px;
    }
    .titanessegadores div ul li img{
        height: 20px;
        width: 20px;
        align-items: center;
        justify-content: center;
    }

    .maton-tirotruco{
        font-size: 7px;
        gap: 5px;
        padding-left: 1px;
        padding-top: 30px;
    }

    .maton-tirotruco div h4{
        padding-top: 14px;
    }
    
    .maton-tirotruco div h3{
        padding-top: 13px;
    }

    .maton-tirotruco div ul{
        gap: 5px;
        height: 40px;
    }

    .maton-tirotruco div ul li img{
        height: 20px;
        width: 20px;
        align-items: center;
        justify-content: center;
    }

    .tinta-sombria{
        font-size: 7px;
        gap: 5px;
        padding-left: 1px;
        padding-top: 30px;
    }

    .tinta-sombria  div h4{
        padding-top: 19px;
    }
    
    .tinta-sombria  div h3{
        padding-top: 18px;
    }

    .tinta-sombria div ul{
        gap: 5px;
        height: 40px;
    }

    .tinta-sombria div ul li img{
        height: 20px;
        width: 20px;
        align-items: center;
        justify-content: center;
    }

    .roll-eruditos{
        font-size: 7px;
        gap: 5px;
        padding-left: 1px;
        padding-top: 30px;
    }

    
    .roll-eruditos div h4{
        padding-top: 15px;
    }
    
    .roll-eruditos div h3{
        padding-top: 14px;
    }

    .roll-eruditos div ul{
        gap: 5px;
        height: 40px;
    }

    .roll-eruditos div ul li img{
        height: 20px;
        width: 20px;
        align-items: center;
        justify-content: center;
    }

    .dumplings-mortales{
        font-size: 7px;
        gap: 5px;
        padding-left: 1px;
        padding-top: 30px;
        padding-bottom: 12px;
    }

    
    .dumplings-mortales div h4{
        padding-top: 15px;
    }
    
    .dumplings-mortales div h3{
        padding-top: 13px;
    }

    .dumplings-mortales div ul{
        gap: 5px;
        height: 40px;
    }

    .dumplings-mortales div ul li img{
        height: 20px;
        width: 20px;
        align-items: center;
        justify-content: center;
    }

}

@media (max-width:396px){
    footer p{
        margin-left: 40px;
    }
}

@media (max-width:384px){
    .tabla ul{
        gap: 10px;
        padding-left: 50px;
    }

    .tabla ul li div h3{
        font-size: 13px;
    }

    .aatrox ul{
        gap: 15px;
        padding-left: 5px;
        padding-bottom: 10px;
        padding-top: 20px;
    }

    .aatrox ul li div p{
        font-size: 10px;
        padding-top: 10px;
    }

    .imgAtrox img{
        width: 30px;
        height: 30px;
    }

    .ahri ul{
        gap: 15px;
        padding-left: 5px;
        padding-bottom: 10px;
        padding-top: 20px;
    }

    .ahri ul li div p{
        font-size: 10px;
        padding-top: 10px;
    }

    .imgAhri img{
        width: 30px;
        height: 30px;
    }

    .posiAhri{
        padding-left: 50px;
    }

    .alune ul{
        gap: 15px;
        padding-left: 5px;
        padding-bottom: 10px;
        padding-top: 20px;
    }

    .alune ul li div p{
        font-size: 10px;
        padding-top: 10px;
    }

    .imgAlune img{
        width: 30px;
        height: 30px;
    }

    .posiAlune{
        padding-left: 45px;
    }

    .amumu ul{
        gap: 15px;
        padding-left: 5px;
        padding-bottom: 50px;
        padding-top: 20px;
    }

    .amumu ul li div p{
        font-size: 10px;
        padding-top: 10px;
    }

    .imgAmumu img{
        width: 30px;
        height: 30px;
    }

    .posiAmumu{
        padding-left: 50px;
    }
}


@media (max-width:375px){

    footer h6{
        display: flex;
        font-size: 10px;
        margin-top: 150px;
        margin-left: 00px;
    }

    footer p{
        margin-left: 00px;
        margin-top: 125px;
        font-family: "Zain", sans-serif;
        font-size: 10px;
        font-weight: 500;
        font-style: normal;
    
    }

    header div h2{
        font-size: 30px;
    }

    header nav ul li a{
        font-size: 10px;
    }

    .seccionTituloBienvenida{
        height: 250px;
    }
    
    .seccionTituloBienvenida h1{
        font-size: 25px;
    }

    
    .seccionNotaParche{
        margin-left: 40px;
        padding-top: 30px;
        padding-bottom: 0px;
    }

    .seccionNotaParche div h2{
        margin-top: 5px;
        font-size: 15px;
        text-align: center;
    }

    .seccionNotaParche ul li{
        font-size: 12px;
    }

    .seccionNotaParche p{
        padding-top: 0px;
        font-size: 12px;
    }

    .seccionNotaParche div a{
        font-size: 12px;
    }



}

