
@media (max-width:1142px){

    .tabla-objetos{
        ul{
            gap: 80px;
            padding-left: 170px;
            .tabla-descripcion{
                padding-left: 100px;
            }
        
            .tabla-objetos-armado{
                padding-left: 100px;
            }
        }
    }
}



