

@media (max-width:672px){

.tabla{
    ul{
        gap: 40px;
        li{
            div{
                h3{
                    font-size: 1.125rem;
                }
            }
            .gridSinergia{
                padding-left: 40px;
            }
        }
    }
}

.aatrox{
    ul{
        gap: 30px;
    }
}

.ahri{
    ul{
        gap: 30px;
    }
}

.alune{
    ul{
        gap: 30px;
    }
}

.amumu{
    ul{
        gap: 30px;
    }
}

}

