
@mixin flex ($direction, $wrap, $justify, $align){

    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;

};

@mixin flex2 ($direction, $gap, $paddingleft, $paddingtop, $paddingbottom){
    display: flex;
    list-style: none;
    flex-direction: $direction;
    gap: $gap;
    padding-left: $paddingleft;
    padding-top: $paddingtop;
    padding-bottom: $paddingbottom;
};