

.tabla-objetos ul{
    @include flex2(row, 18rem, 25rem,3.125rem, 3.125rem);
    li{
        div{
            h3{
                text-shadow: 5px 5px black;
                font-family: "Zain", sans-serif;
                font-weight: 20px;
                font-size: 30px;
            }
        }
    }
    .tabla-objetos-armado{
        padding-left: 100px;
    }
}

.armadura-petrea ul{
    @include flex2(row, 5rem, 9.375rem,3.125rem, 3.125rem);
    li{
        text-align: center;
        p{
            text-shadow: 2px 2px black;
            padding-top: 20px;
            font-family: "Zain", sans-serif;
            font-size: 25px;
        }
        img{
            &:hover{
                transform: scale(1.2);
            }
        }
    }
    .campeon-armadura{
        padding-left: 0px;
    }

}

.baculo-del-arcangel ul{
    @include flex2(row, 5rem, 9.375rem,3.125rem, 3.125rem);
    background-color: map-get($color, primario );
    li{
        text-align: center;
        p{
            text-shadow: 2px 2px black;
            padding-top: 20px;
            font-family: "Zain", sans-serif;
            font-size: 25px;
        }
        img{
            &:hover{
                transform: scale(1.2);
            }
        }
    }
    .desc-baculo{
        padding-left: 120px;
    }
    
    .armado-baculo{
        padding-left: 75px;
    }
    
}

.capa-fuego-solar ul{
    @include flex2(row, 5rem, 9.375rem,3.125rem, 3.125rem);
    li{
        text-align: center;
        p{
            text-shadow: 2px 2px black;
            padding-top: 20px;
            font-family: "Zain", sans-serif;
            font-size: 25px;
        }
        img{
            &:hover{
                transform: scale(1.2);
            }
        }
    }
    .armado-capa{
        padding-left: 60px;
    }
    
    .campeon-capa{
        padding-left: 30px;
    }
}

.chispa-ionica ul{
    @include flex2(row, 5rem, 9.375rem,3.125rem, 3.125rem);
    background-color: map-get($color, primario );
    li{
        text-align: center;
        p{
            text-shadow: 2px 2px black;
            padding-top: 20px;
            font-family: "Zain", sans-serif;
            font-size: 25px;
        }
        img{
            &:hover{
                transform: scale(1.2);
            }
        }
    }
    .nombre-chispa{
        padding-left: 25px;
    }
    
    .desc-chispa{
        padding-left: 35px;
    }
    
    .campeon-chispa{
        padding-left: 0px;
    }
}