

.botonInicio {
    border-color: #ebbf6e;
    border-style: ridge;
    
}

.botonCompos {
    border-color: #ebbf6e;
    border-style: ridge;
    
}

.botonCampeones {
    border-color: #ebbf6e;
    border-style: ridge;
}

.botonObjetos {
    border-color: #ebbf6e;
    border-style: ridge;
}

.botonNotas {
    border-color: #ebbf6e;
    border-style: ridge;
}